belron-voicebot-poc/n8n/workflows/book_appointment.json
{
  "name": "voicebot - book_appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "book-appointment"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{$node[\"Webhook\"].json[\"headers\"][\"x-auth-secret\"]}}",
              "rightValue": "={{$vars.CARGLASS_N8N_SHARED_SECRET}}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb02",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": false, \"error_code\": \"UNAUTHORIZED\", \"message_for_agent\": \"Authentifizierung fehlgeschlagen.\"}",
        "options": { "responseCode": 401 }
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb03",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 460]
    },
    {
      "parameters": {
        "jsCode": "const _h = this.helpers;\nconst fetch = async (url, init = {}) => {\n  const opts = { method: init.method || 'GET', url, headers: { ...(init.headers || {}) }, json: true, timeout: 12000, returnFullResponse: false };\n  if (opts.headers['Content-Type']) delete opts.headers['Content-Type'];\n  if (opts.headers['content-type']) delete opts.headers['content-type'];\n  if (init.body !== undefined) {\n    if (typeof init.body === 'string') { try { opts.body = JSON.parse(init.body); } catch { opts.body = init.body; } }\n    else opts.body = init.body;\n  }\n  try {\n    const data = await _h.httpRequest(opts);\n    return { ok: true, status: 200, json: async () => data, text: async () => (typeof data === 'string' ? data : JSON.stringify(data)) };\n  } catch (e) {\n    const status = (e && e.statusCode) || (e && e.response && e.response.statusCode) || (e && e.cause && e.cause.statusCode) || 500;\n    let errBody = (e && e.response && e.response.body) ?? (e && e.cause && e.cause.body) ?? null;\n    if (errBody && typeof errBody !== 'string') { try { errBody = JSON.stringify(errBody); } catch { errBody = String(errBody); } }\n    if (!errBody && e && e.message) errBody = e.message;\n    return { ok: false, status, json: async () => { try { return JSON.parse(errBody); } catch { return errBody; } }, text: async () => String(errBody) };\n  }\n};\n\nconst body = $input.first().json.body || {};\nconst sb = $vars.CARGLASS_SUPABASE_URL;\nconst sbHeaders = { apikey: $vars.CARGLASS_SUPABASE_SERVICE_ROLE_KEY, Authorization: 'Bearer ' + $vars.CARGLASS_SUPABASE_SERVICE_ROLE_KEY };\nasync function fetchJson(url, opts) {\n  const o = { ...(opts || {}) };\n  o.headers = { ...sbHeaders, ...((opts && opts.headers) || {}) };\n  const r = await fetch(url, o);\n  if (!r.ok) throw new Error('Supabase ' + r.status + ': ' + (await r.text()));\n  return await r.json();\n}\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\n// ---------- Validate input ----------\nconst spoken_phone = String(body.spoken_phone || body.phone || '').trim();\nconst start_time = body.start_time || body.preferred_start || body.scheduled_start;\nlet branch_id = body.branch_id || body.branch || '';\nlet service_id = body.service_id || body.service || '';\nconst confirmation_token = body.confirmation_token;\nconst glass_type_raw = String(body.glass_type || '').trim().toLowerCase();\nconst damage_size_raw = String(body.damage_size || '').trim().toLowerCase();\n\nif (!confirmation_token) {\n  return [{ json: { ok: false, error_code: 'MISSING_CONFIRMATION', message_for_agent: 'Bitte erst die Buchung verbal bestätigen, dann erneut aufrufen mit confirmation_token.' } }];\n}\nif (!spoken_phone) {\n  return [{ json: { ok: false, error_code: 'MISSING_PHONE', message_for_agent: 'Telefonnummer fehlt.' } }];\n}\nif (!start_time) {\n  return [{ json: { ok: false, error_code: 'MISSING_TIME', message_for_agent: 'Bitte einen konkreten Termin (start_time) angeben.' } }];\n}\nif (!branch_id) {\n  return [{ json: { ok: false, error_code: 'MISSING_BRANCH', message_for_agent: 'Filiale erforderlich.' } }];\n}\n\n// ---------- Normalize damage_size + glass_type ----------\nconst GLASS_MAP = {\n  windshield: 'windshield', front: 'windshield', frontscheibe: 'windshield', windschutz: 'windshield', windschutzscheibe: 'windshield',\n  side: 'side', seite: 'side', seitenscheibe: 'side',\n  rear: 'rear', heck: 'rear', heckscheibe: 'rear', back: 'rear',\n};\nconst SIZE_MAP = {\n  small: 'small', klein: 'small', chip: 'small', steinschlag: 'small',\n  medium: 'medium', mittel: 'medium', mid: 'medium',\n  large: 'large', gross: 'large', \"groß\": 'large', big: 'large', riss: 'large', crack: 'large',\n};\nconst glass_type = GLASS_MAP[glass_type_raw] || (glass_type_raw === '' ? null : glass_type_raw);\nconst damage_size = SIZE_MAP[damage_size_raw] || (damage_size_raw === '' ? null : null);\n\n// ---------- Derive service_id from glass_type + damage_size if not provided ----------\nif (!service_id) {\n  if (!glass_type) {\n    return [{ json: { ok: false, error_code: 'MISSING_PARAMS', message_for_agent: 'Glass-Typ oder service_id erforderlich.' } }];\n  }\n  let derivedCode;\n  if (glass_type === 'windshield') {\n    derivedCode = (damage_size === 'small') ? 'CG-FR' : 'CG-FA';\n  } else if (glass_type === 'side') {\n    derivedCode = 'CG-SS';\n  } else if (glass_type === 'rear') {\n    derivedCode = 'CG-HS';\n  } else {\n    return [{ json: { ok: false, error_code: 'UNSUPPORTED_GLASS', message_for_agent: `Glass-Typ '${glass_type}' nicht unterstützt.` } }];\n  }\n  const sv = await fetchJson(`${sb}/rest/v1/services?code=eq.${derivedCode}&select=id&limit=1`);\n  if (!sv.length) return [{ json: { ok: false, error_code: 'SERVICE_NOT_FOUND', message_for_agent: `Service ${derivedCode} nicht gefunden.` } }];\n  service_id = sv[0].id;\n}\n\n// ---------- Normalize phone to E.164 (DE default) ----------\nfunction normalizePhone(s) {\n  let v = String(s).replace(/[\\s\\-()]/g, '');\n  const defaultCC = ($vars.CARGLASS_DEFAULT_COUNTRY_CODE || '+49');\n  if (v.startsWith('00')) v = '+' + v.slice(2);\n  else if (v.startsWith('0')) v = defaultCC + v.slice(1);\n  else if (!v.startsWith('+')) v = defaultCC + v;\n  return v;\n}\nconst phone_e164 = normalizePhone(spoken_phone);\n\n// ---------- Resolve branch slug → UUID ----------\nif (!UUID_RE.test(String(branch_id))) {\n  const term = String(branch_id).trim().toLowerCase();\n  const enc = encodeURIComponent(term);\n  const found = await fetchJson(`${sb}/rest/v1/branches?select=id,name,city,code&or=(code.ilike.${enc},name.ilike.*${enc}*,city.ilike.*${enc}*)&limit=1`);\n  if (!found.length) return [{ json: { ok: false, error_code: 'BRANCH_NOT_FOUND', message_for_agent: `Filiale '${branch_id}' nicht gefunden.` } }];\n  branch_id = found[0].id;\n}\n\n// ---------- Resolve service slug → UUID (only if user passed a slug) ----------\nif (!UUID_RE.test(String(service_id))) {\n  const term = String(service_id).trim().toLowerCase();\n  const enc = encodeURIComponent(term);\n  let found = await fetchJson(`${sb}/rest/v1/services?select=id,code&code=eq.${enc}&limit=1`);\n  if (!found.length) found = await fetchJson(`${sb}/rest/v1/services?select=id,code,name_de,name_en&or=(name_de.ilike.*${enc}*,name_en.ilike.*${enc}*)&limit=1`);\n  if (!found.length) return [{ json: { ok: false, error_code: 'SERVICE_NOT_FOUND', message_for_agent: `Service '${service_id}' nicht gefunden.` } }];\n  service_id = found[0].id;\n}\n\n// ---------- Get service duration ----------\nconst services = await fetchJson(`${sb}/rest/v1/services?id=eq.${service_id}&select=default_duration_minutes,name_de`);\nconst durationMin = services[0]?.default_duration_minutes || 90;\n\n// ---------- Validate / parse start_time ----------\nconst start = new Date(start_time);\nif (isNaN(start.getTime())) return [{ json: { ok: false, error_code: 'INVALID_TIME', message_for_agent: 'Ungültige Uhrzeit.' } }];\nconst now = new Date();\nif (start <= now) return [{ json: { ok: false, error_code: 'TIME_IN_PAST', message_for_agent: 'Der Termin liegt in der Vergangenheit.' } }];\nconst end = new Date(start.getTime() + durationMin * 60000);\n\n// ---------- Upsert customer ----------\nconst existingCust = await fetchJson(`${sb}/rest/v1/customers?phone_e164=eq.${encodeURIComponent(phone_e164)}&select=id,first_name,last_name`);\nlet customer_id;\nlet customer_was_created = false;\nfunction splitName(n) {\n  if (!n) return { fn: null, ln: null };\n  const parts = String(n).trim().split(/\\s+/);\n  if (parts.length === 1) return { fn: parts[0], ln: null };\n  return { fn: parts[0], ln: parts.slice(1).join(' ') };\n}\nconst incoming = body.first_name ? { fn: body.first_name, ln: body.last_name || null } : splitName(body.name);\nif (existingCust.length) {\n  customer_id = existingCust[0].id;\n  if ((!existingCust[0].first_name || !existingCust[0].last_name) && (incoming.fn || incoming.ln)) {\n    await fetchJson(`${sb}/rest/v1/customers?id=eq.${customer_id}`, {\n      method: 'PATCH', headers: { Prefer: 'return=minimal' },\n      body: {\n        first_name: existingCust[0].first_name || incoming.fn || null,\n        last_name: existingCust[0].last_name || incoming.ln || null,\n        postal_code: body.postal_code || null,\n      },\n    });\n  }\n} else {\n  const created = await fetchJson(`${sb}/rest/v1/customers`, {\n    method: 'POST', headers: { Prefer: 'return=representation' },\n    body: {\n      phone_e164,\n      first_name: incoming.fn,\n      last_name: incoming.ln,\n      postal_code: body.postal_code || null,\n      language: body.language || 'de',\n      consent_recording: true,\n      consent_data_processing: true,\n    },\n  });\n  customer_id = created[0].id;\n  customer_was_created = true;\n}\n\n// ---------- Upsert vehicle (license_plate optional in new flow) ----------\nlet vehicle_id = null;\nconst vehMake = body.vehicle_make || body.make || null;\nconst vehModel = body.vehicle_model || body.model || null;\nconst vehYear = body.vehicle_year || body.year || null;\nconst vehPlate = body.license_plate ? String(body.license_plate).toUpperCase().replace(/\\s+/g, '') : null;\nconst vehGlass = (glass_type === 'windshield') ? 'windshield' : (glass_type === 'side') ? 'side' : (glass_type === 'rear') ? 'rear' : null;\n\nif (vehPlate) {\n  // Match by plate first\n  const exV = await fetchJson(`${sb}/rest/v1/vehicles?customer_id=eq.${customer_id}&license_plate=eq.${encodeURIComponent(vehPlate)}&select=id`);\n  if (exV.length) vehicle_id = exV[0].id;\n}\nif (!vehicle_id && (vehMake || vehModel)) {\n  // Match by make+model+year if no plate\n  const params = [`customer_id=eq.${customer_id}`];\n  if (vehMake)  params.push(`make=eq.${encodeURIComponent(vehMake)}`);\n  if (vehModel) params.push(`model=eq.${encodeURIComponent(vehModel)}`);\n  if (vehYear)  params.push(`year=eq.${vehYear}`);\n  params.push('select=id');\n  const exV = await fetchJson(`${sb}/rest/v1/vehicles?${params.join('&')}`);\n  if (exV.length) vehicle_id = exV[0].id;\n}\nif (!vehicle_id && (vehPlate || vehMake || vehModel || vehYear || vehGlass)) {\n  const vc = await fetchJson(`${sb}/rest/v1/vehicles`, {\n    method: 'POST', headers: { Prefer: 'return=representation' },\n    body: {\n      customer_id,\n      license_plate: vehPlate,\n      make: vehMake,\n      model: vehModel,\n      year: vehYear ? Number(vehYear) : null,\n      glass_type: vehGlass,\n    },\n  });\n  vehicle_id = vc[0].id;\n}\n\n// ---------- Generate booking reference ----------\nfunction genRef() {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  let s = '';\n  for (let i = 0; i < 5; i++) s += chars[Math.floor(Math.random() * chars.length)];\n  return 'CG-' + s;\n}\nlet booking_reference;\nfor (let attempt = 0; attempt < 5; attempt++) {\n  booking_reference = genRef();\n  const exists = await fetchJson(`${sb}/rest/v1/appointments?booking_reference=eq.${booking_reference}&select=id&limit=1`);\n  if (!exists.length) break;\n}\n\n// ---------- Insert appointment ----------\nconst appt = await fetchJson(`${sb}/rest/v1/appointments`, {\n  method: 'POST', headers: { Prefer: 'return=representation' },\n  body: {\n    booking_reference,\n    customer_id,\n    vehicle_id,\n    branch_id,\n    service_id,\n    scheduled_start: start.toISOString(),\n    scheduled_end: end.toISOString(),\n    status: 'scheduled',\n    insurance_provider: body.insurance_provider || null,\n    damage_size: damage_size,\n    damage_notes: body.damage_notes || null,\n    notes: body.notes || null,\n    created_via: 'bot',\n  },\n});\nconst appointment = appt[0];\n\n// History row\nawait fetchJson(`${sb}/rest/v1/appointment_history`, {\n  method: 'POST', headers: { Prefer: 'return=minimal' },\n  body: {\n    appointment_id: appointment.id,\n    previous_status: null,\n    new_status: 'scheduled',\n    new_start: start.toISOString(),\n    changed_by: 'bot',\n    conversation_id: null,\n    reason: 'New booking via voicebot — confirmation_token: ' + confirmation_token,\n  },\n});\n\n// ---------- Branch info for confirmation ----------\nconst br = await fetchJson(`${sb}/rest/v1/branches?id=eq.${branch_id}&select=name,city,address_line1`);\n\nreturn [{ json: {\n  ok: true,\n  data: {\n    booking_reference,\n    appointment_id: appointment.id,\n    customer_id,\n    customer_was_created,\n    vehicle_id,\n    branch: br[0] || null,\n    service_name: services[0]?.name_de || null,\n    glass_type,\n    damage_size,\n    scheduled_start: start.toISOString(),\n    scheduled_end: end.toISOString(),\n    duration_minutes: durationMin,\n    message_for_agent: `Termin erfolgreich gebucht. Buchungsnummer: ${booking_reference}.`,\n  },\n} }];\n"
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb04",
      "name": "Book Appointment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Book Appointment').first().json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb05",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 220]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Auth Check", "type": "main", "index": 0 }]] },
    "Auth Check": {
      "main": [
        [{ "node": "Book Appointment", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Book Appointment": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "voicebot" }, { "name": "carglass" }]
}
