belron-voicebot-poc/n8n/workflows/transfer_to_agent.json
{
  "name": "voicebot - transfer_to_agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transfer-to-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "transfer-to-agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$node[\"Webhook\"].json[\"headers\"][\"x-auth-secret\"]}}",
              "rightValue": "={{$vars.CARGLASS_N8N_SHARED_SECRET}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb02",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": false, \"error_code\": \"UNAUTHORIZED\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb03",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const _h = this.helpers;\nconst fetch = async (url, init = {}) => {\n  const opts = { method: init.method || 'GET', url, headers: { ...(init.headers || {}) }, json: true, timeout: 10000, returnFullResponse: false };\n  if (opts.headers['Content-Type']) delete opts.headers['Content-Type'];\n  if (opts.headers['content-type']) delete opts.headers['content-type'];\n  if (init.body !== undefined) {\n    if (typeof init.body === 'string') { try { opts.body = JSON.parse(init.body); } catch { opts.body = init.body; } }\n    else opts.body = init.body;\n  }\n  try {\n    const data = await _h.httpRequest(opts);\n    return { ok: true, status: 200, json: async () => data, text: async () => (typeof data === 'string' ? data : JSON.stringify(data)) };\n  } catch (e) {\n    const status = (e && e.statusCode) || (e && e.response && e.response.statusCode) || (e && e.cause && e.cause.statusCode) || 500;\n    let errBody = (e && e.response && e.response.body) ?? (e && e.cause && e.cause.body) ?? null;\n    if (errBody && typeof errBody !== 'string') { try { errBody = JSON.stringify(errBody); } catch { errBody = String(errBody); } }\n    if (!errBody && e && e.message) errBody = e.message;\n    return { ok: false, status, json: async () => { try { return JSON.parse(errBody); } catch { return errBody; } }, text: async () => String(errBody) };\n  }\n};\n\nconst _SUPABASE_URL = $vars.CARGLASS_SUPABASE_URL;\nconst _SUPABASE_KEY = $vars.CARGLASS_SUPABASE_SERVICE_ROLE_KEY;\nconst _SB_HEADERS = { apikey: _SUPABASE_KEY, Authorization: 'Bearer ' + _SUPABASE_KEY };\nasync function resolveConvId(input) {\n  if (!input) return null;\n  if (/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(String(input))) return input;\n  try {\n    const r1 = await fetch(`${_SUPABASE_URL}/rest/v1/calls?external_call_id=eq.${encodeURIComponent(input)}&select=id&limit=1`, { headers: _SB_HEADERS });\n    if (!r1.ok) return null;\n    const calls = await r1.json();\n    if (!calls.length) return null;\n    const r2 = await fetch(`${_SUPABASE_URL}/rest/v1/conversations?call_id=eq.${calls[0].id}&select=id&limit=1`, { headers: _SB_HEADERS });\n    if (!r2.ok) return null;\n    const cv = await r2.json();\n    return cv.length ? cv[0].id : null;\n  } catch (e) { return null; }\n}\n\nconst body = $input.first().json.body || {};\nconst external_call_id = body.conversation_id || null;\nbody.conversation_id = await resolveConvId(body.conversation_id);\nconst { conversation_id, reason_code, summary, customer_data } = body;\nif (!reason_code || !summary) {\n  return [{ json: { ok: false, error_code: 'MISSING_PARAMS', message_for_agent: 'Übergabe konnte nicht vorbereitet werden.' } }];\n}\nconst sb = $vars.CARGLASS_SUPABASE_URL;\nconst headers = {\n  apikey: $vars.CARGLASS_SUPABASE_SERVICE_ROLE_KEY,\n  Authorization: 'Bearer ' + $vars.CARGLASS_SUPABASE_SERVICE_ROLE_KEY,\n  'Prefer': 'return=representation',\n};\nlet cd = customer_data;\nif (typeof cd === 'string') { try { cd = JSON.parse(cd); } catch { cd = null; } }\nconst hasName = !!(cd && (cd.first_name || cd.last_name || cd.name));\nconst hasPhone = !!(cd && cd.phone_e164);\nconst qualified = !!(summary && summary.length >= 20 && (hasName || hasPhone));\nconst target_agent_id = $vars.CARGLASS_HANDOVER_AGENT_ID || null;\nconst transferred_to = target_agent_id ? `elevenlabs_agent:${target_agent_id}` : 'queue:carla-de-overflow';\nconst r = await fetch(`${sb}/rest/v1/handovers`, {\n  method: 'POST', headers,\n  body: {\n    conversation_id: conversation_id || null,\n    external_call_id: external_call_id || null,\n    reason_code,\n    summary_for_agent: summary,\n    customer_data_snapshot: cd || null,\n    qualified,\n    transferred_to,\n  },\n});\nif (!r.ok) return [{ json: { ok: false, error_code: 'INSERT_FAILED', message_for_agent: 'Übergabe konnte nicht gespeichert werden.', details: await r.text() } }];\nif (conversation_id) {\n  await fetch(`${sb}/rest/v1/conversations?id=eq.${conversation_id}`, {\n    method: 'PATCH', headers,\n    body: { status: 'completed_with_handover', ended_at: new Date().toISOString() },\n  });\n}\nreturn [{ json: { ok: true, data: { handover_created: true, qualified, target_agent_id, transferred_to, message_for_agent: target_agent_id ? 'Übergabe vorbereitet — bitte rufen Sie das ElevenLabs-Agent-Transfer-Tool mit dieser agent_id auf.' : 'Übergabe gespeichert (kein Ziel-Agent konfiguriert).' } } }];\n"
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb04",
      "name": "Create Handover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Create Handover').first().json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbb05",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        220
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Create Handover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Handover": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "voicebot"
    },
    {
      "name": "carglass"
    },
    {
      "name": "handover"
    }
  ]
}